@media (max-width: 767px) {
	html, body {
		font-size: 16px;
		/* 필요시 폰트 크기 조정 */
		overflow-x: hidden;
		width: 100vw;
		max-width: 100vw;
	}
	.m {
		width: 250px !important;
	}
		.wrap, .wrap2, .paddingT20, .paddingB20, .paddingT50, .paddingB50 {
			box-sizing: border-box;
			width: 100%;
			max-width: 100vw;
			margin: 0 auto;
		}
	.wnext{
		top: 450px;
		left: 160px;
	}
	body {
		padding: 0;
		margin: 0;
		background: #fff;
		/* 배경색 등 필요시 수정 */
	}
	.slick-slide .tbox img{
	    width: 53% !important;
	    max-width: 100%;
	    right: 23vw;
	    top: 25vh !important;
	}
	section#product div.wrap ul li a figure figcaption h3{
	font-size: 12px;
	font-weight: 600;
	}
	section#product div.wrap ul li a figure figcaption h3::after{
		width: 3px;
		height: 3px;
		transform: translateY(-2px) rotate(
45deg);
	}
	section#product div.wrap h2{
		display: block;
		font-size: 15px;
		font-weight: 600;
		padding-top: 10px;
	}
	section#product div.wrap ul{
		overflow-x: auto;
		flex-wrap: nowrap;
		padding: 0px 0px 0px;
		overflow: visible !important;
	}
	section#product div.wrap{
		overflow: visible !important;
		width: calc(100% - 40px);
	}
	section#product{
		overflow: visible !important;
	}
	section#product div.wrap ul.slick-slider .slick-list {
		overflow: visible !important;
		padding: 12px 0 12px 0;
	}
	.slick-track .m{
	display: block !important;
	width: 100% !important;
	padding: 0px !important;
	padding: 0px 20px 5px !important;
	margin-right: 0px !important;
	}
	.slick-initialized .slick-slide > div{
		margin-bottom: 5px;
		justify-items: center;
		width: 100%;
	}
	.titleAni div h2.bold{
		font-size: 25px;
		padding-top: 50px;
		display: flex;
		gap: 3px;
	}
	.titleAni a{
		width: 160px;
		height: 47px;
		text-indent: 0;
		margin-top: 23px;
	}
	.titleAni a::after{
		display: none;
	}
	.t2box > img{
		width: 70% !important;
		max-width: 100%;
		right: 14vw;
		top: 25vh !important;
	}
	.t1 a::after{
	display: none;
	}
	.slick-track .m > a{
		width: 100% !important;
		height: 285px !important;
		margin-bottom: 17px !important;
		box-shadow: 0 0 2px rgba(0, 0, 0, .08), 4px 12px 36px rgba(0, 0, 0, .09);
	}
	section#product div.wrap ul li a figure figcaption p{
		display: none;
	}
	section#product div.wrap ul li{
	width: 104px !important;
	}
	section#product div.wrap ul li {
		box-shadow: none;
	}
	section#product div.wrap ul li a {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90px;
		box-shadow: 0 4px 24px 0 rgba(30,34,40,0.10);
		border-radius: 18px;
		background: #fff;
		transition: box-shadow 0.2s;
		height: 105px;
		padding: 0px;
	}
	section#product div.wrap ul li:hover a {
		box-shadow: 0 8px 32px 0 rgba(30,34,40,0.13);
	}
	section#product div.wrap ul li a figure{
		flex-direction: column;
		padding-top: 15px;
	}
	
	/* 모바일에서 터치 영역을 넓히고 싶을 때 */
	
	header {
		/* 헤더 스타일 */
		padding: 0 20px;
		height: 60px;
	}
	header div.wrap2{
		height: 100%;
	}
	header div.wrap2 ul{
		display: none;
	}
	header div.wrap2 span .aplus-btn{
		display: none;
	}
	#title{
		width: calc(100% - 40px);
		height: 50vh;
	}
	
	/* Service */
	section#service{
		padding: 0 20px 0 20px;
	}
	section#service div{
		height: 400px;
		gap: 20px;

	}
	section#service div p{
		font-size: 24px;
		line-height: 1.5;
		letter-spacing: -.5px;
		font-weight: 700;
		word-break: keep-all;
		}
	section#service div a{
	    padding: 15px 25px;
	}
	
	/* Business */
	section#business{
		padding: 0 20px 0 20px;
	}
	section#business .wrap{
		height: 400px;
		gap: 20px;
	}
	section#business div p{
		font-size: 24px;
        line-height: 1.5;
        letter-spacing: -.5px;
        font-weight: 700;
        word-break: keep-all;
	}

	/* altools */
	section#altools{
		
	}
	section#altools div.wrap {
		padding-top: 50px;
		gap: 0px;
		padding-bottom: 40px;
	}
	section#altools div.wrap h2{
		font-size: 24px;
		line-height: 1.5;
		letter-spacing: -.5px;
		font-weight: 700;
		word-break: keep-all;
		padding-bottom: 35px;
		}
	section#altools div.wrap ul.list{
	padding: 0px 20px 0px 20px;
	}
	section#altools div.wrap ul.list .slick-track, .slick-initialized .slick-slide{
	}
	section#altools div.wrap ul.list li.m:hover{
		transform: translateY(0px);
	}
	section#altools div.wrap ul.list li.m a p{
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5
	}
	/* Promotion */
	section#promotion{
		display: none;
	}

	/* Tip */
	section#tip{
	width: 100%;
	margin: 28px auto 100px;
	}
	section#tip div.wrap{
		padding: 0;
		gap: 10px;
		width: 92.5vw;
	}
	section#tip div.wrap h2{
		font-size: 24px;
        line-height: 1.5;
        letter-spacing: -.5px;
        font-weight: 700;
        word-break: keep-all;
	}
	section#tip div.wrap ul{
		display: flex;
		flex-direction: column;
	}
	section#tip div.wrap ul li:nth-child(1){
		height: 360px !important;
	}
	section#tip div.wrap ul li:nth-child(n+2):nth-child(-n+5) {
	    height: 220px !important;
	}
	section#tip div.wrap ul li a{
	padding: 20px 25px;
	background-size: 30% !important;
	}
	section#tip div.wrap ul li a h3{
		margin-bottom: 10px;
	}
	section#tip div.wrap ul li:nth-child(1) a{
	background-size: 40% !important;
	}
	section#tip div.wrap ul li a .h4{
		font-size: 20px;
	}
	section#tip div.wrap ul li a p{
		font-size: 15px;
	}
	/*News*/
	section#news{
	width: 94vw;
	height: 400px;
	padding: 100px 20px 100px 20px;
	}

	section#news div{
	}
	section#news div ul{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
    }
	section#news div ul li{
		flex-basis: 100%;
		width: 100%;
    }
	section#news div ul li{
		height: 100px;
		-moz-column-gap: 24px;
		column-gap: 24px;
		/* padding: 0 24px; */
	}
	section#news div ul li a{
		grid-template-columns: auto auto auto 1fr;
	}
	/* Footer */
	footer div{
		padding-left: 20px !important;
	}
	footer div ul.fnb{
		display: none;
	}
	footer div ul.fnb2 {
		display: flex;
		flex-wrap: wrap;
		padding-top: 0px;
		margin-bottom: 40px;
		flex-direction: row;
	}
	footer div ul.fnb2 li {
		width: auto;
	}
	footer div ul.fnb2 li:last-child{
		display: none;
	}
     section#altools div.wrap ul.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    }
}
	
footer div ul.fnb2 li {
	width: auto;
}
/* ----------------------------------------- */
/* Responsive.css: 모바일 뷰 전용 스타일 */
/* ----------------------------------------- */

/* 뷰포트 메타태그는 HTML <head>에 아래와 같이 추가되어야 합니다:
<meta name="viewport" content="width=device-width, initial-scale=1.0">
*/

