/* Remove dropdown-item hover effect for mobile view */
header .dropdown-item:hover {
	background: none !important;
	color: inherit !important;
}
@media (max-width: 767px) {
	html, body {
		font-size: 16px;
		/* Adjust font size if needed */
		overflow-x: hidden;
		width: 100vw;
		max-width: 100vw;
	}
	body {
		padding: 0;
		margin: 0;
		background: #fff;
		/* Edit background color etc. if needed */
	}
	

	/* Slick */
	.slick-track .m{
	display: block !important;
	width: 100% !important;
	padding: 0px !important;
	margin-right: 0px !important;
	}
	.m {
		width: 250px !important;
	}
	.wrap, .wrap2, .paddingT20, .paddingB20, .paddingT50, .paddingB50 {
		box-sizing: border-box;
		width: 100%;
		max-width: 100vw;
		margin: 0 auto;
	}
	.wnext{
		top: 450px;
        left: calc((100vw - 217px) / 2);
	}
	.slick-initialized .slick-slide > div{
		margin-bottom: 5px;
		justify-items: center;
		width: 100%;
	}

	/* Title */
	.titleAni div h2{
		font-size: 25px;
		padding-top: 0px !important;
		display: flex;
		gap: 3px;
	}
	.titleAni a{
		width: 160px;
		height: 47px;
		text-indent: 0;
		margin-top: 23px;
	}
	.titleAni a:hover{
		background-color: #fff !important
	}
	.titleAni a::after{
		display: none;
	}
	.slick-slide .tbox img{
	    width: 53% !important;
	    max-width: 100%;
	    right: 23vw;
	    top: 21vh !important;
	}
	.t2box > img{
		width: 57% !important;
		max-width: 100%;
		right: calc((100vw - 316px) / 2);
		top: 23vh !important;
	}
	.t1 a::after{
		display: none;
	}
	.slick-track .m > a{
		width: 100% !important;
		height: 285px !important;
		margin-bottom: 17px !important;
		box-shadow: 0 0 2px rgba(0, 0, 0, .08), 4px 12px 36px rgba(0, 0, 0, .09);
	}
	

	/* Product */
	section#product{
		overflow: visible !important;
	}
	section#product div.wrap{
		overflow: visible !important;
		width: calc(100% - 40px);
	}
	section#product div.wrap h2{
		display: block;
		font-size: 15px;
		font-weight: 600;
		padding-top: 10px;
	}
	section#product div.wrap ul{
		overflow-x: auto;
		flex-wrap: nowrap;
		padding: 0px 0px 0px;
		overflow: visible !important;
	}
	section#product div.wrap ul.slick-slider .slick-list {
		overflow: visible !important;
		padding: 12px 0 12px 0;
	}
	section#product div.wrap ul li {
		width: 104px !important;
		box-shadow: none;
	}
	section#product div.wrap ul li a {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90px;
		box-shadow: 0 4px 24px 0 rgba(30,34,40,0.10);
		border-radius: 18px;
		background: #fff;
		transition: box-shadow 0.2s;
		height: 105px;
		padding: 0px;
	}
	section#product div.wrap ul li:hover {
		transform: translateY(-0px)
	}
	section#product div.wrap ul li a figure{
		flex-direction: column;
		padding-top: 15px;
	}
	section#product div.wrap ul li a figure figcaption h3{
	font-size: 12px;
	font-weight: 600;
	}
	section#product div.wrap ul li a figure figcaption h3::after{
		width: 3px;
		height: 3px;
		transform: translateY(-2px) rotate(45deg);
	}
	section#product div.wrap ul li a figure figcaption p{
		display: none;
	}

	/* To expand touch area on mobile */
	header {
		padding: 0 20px;
		height: 60px;
	}
	header div.wrap2{
		height: 100%;
	}
	header div.wrap2 ul{
		display: none;
	}
	header div.wrap2 span .aplus-btn{
		display: none;
	}
	#title{
		width: calc(100% - 40px);
		height: 50vh;
	}
	
	/* Service */
	section#service{
		padding: 0 20px 0 20px;
	}
	section#service div{
		height: 400px;
		gap: 20px;
	}
	section#service div p{
		font-size: 24px;
		line-height: 1.5;
		letter-spacing: -.5px;
		font-weight: 700;
		word-break: keep-all;
	}
	section#service div a{
	    padding: 15px 25px;
	}
	section#service div a:hover{
		background-color: black;
	}
	/* Business */
	section#business{
		padding: 0 20px 0 20px;
	}
	section#business .wrap{
		height: 400px;
		gap: 20px;
	}
	section#business div p{
		font-size: 24px;
        line-height: 1.5;
        letter-spacing: -.5px;
        font-weight: 700;
        word-break: keep-all;
	}
	section#business div a:hover{
		background-color: #fff;
	}
	section#business .wrap:hover{filter: none;}
	/* altools */
	section#altools div.wrap {
		padding-top: 50px;
		gap: 0px;
		padding-bottom: 40px;
	}
	section#altools div.wrap h2{
		font-size: 24px;
		line-height: 1.5;
		letter-spacing: -.5px;
		font-weight: 700;
		word-break: keep-all;
		padding-bottom: 35px;
	}
	section#altools div.wrap ul.list {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 100vw;
		height: 100%;
		padding: 0;
		margin: 0;
		padding: 0px 20px 0px 20px;
    }
	section#altools div.wrap ul.list li.m:hover{
		transform: translateY(0px);
	}
	section#altools div.wrap ul.list li.m a p{
		font-size: 14px;
		font-weight: 400;
		line-height: 1.5
	}

	/* Promotion */
	section#promotion{
		display: none;
	}

	/* Tip */
	section#tip{
	width: 100%;
	margin: 28px auto 100px;
	}
	section#tip div.wrap{
		padding: 0;
		gap: 10px;
		width: 92.5vw;
	}
	section#tip div.wrap h2{
		font-size: 24px;
        line-height: 1.5;
        letter-spacing: -.5px;
        font-weight: 700;
        word-break: keep-all;
	}
	section#tip div.wrap ul{
		display: flex;
		flex-direction: column;
	}
	section#tip div.wrap ul li:nth-child(1){
		height: 360px !important;
	}
	section#tip div.wrap ul li:nth-child(n+2):nth-child(-n+5) {
	    height: 220px !important;
	}
	section#tip div.wrap ul li a{
	padding: 20px 25px;
	background-size: 30% !important;
	}
	section#tip div.wrap ul li:hover{
		transform: translateY(0px);
		transition: 0s;
	}
	section#tip div.wrap ul li a::after{
		top: 21px;
	}
	section#tip div.wrap ul li a h3{
		margin-bottom: 10px;
	}
	section#tip div.wrap ul li:nth-child(1) a{
	background-size: 40% !important;
	}
	section#tip div.wrap ul li a .h4{
		font-size: 20px;
	}
	section#tip div.wrap ul li a p{
		font-size: 15px;
	}

	/* News */
	section#news{
		height: 400px;
		padding: 100px 20px 100px 20px;
		background-position-x: 1620px;
	}
	section#news div ul{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        height: 100%;
    }
	section#news div ul li{
		flex-basis: 100%;
		width: 100%;
    }
	section#news div ul li{
		height: 100px;
		-moz-column-gap: 24px;
		column-gap: 24px;
	}
	section#news div ul li:hover{
		box-shadow: none;
	}
	section#news div ul li a{
		grid-template-columns: auto auto auto 1fr;
	}

	/* Footer */
	footer div{
		padding-left: 20px !important;
	}
	footer div ul.fnb{
		display: none;
	}
	footer div ul.fnb2 {
		display: flex;
		flex-wrap: wrap;
		padding-top: 0px;
		margin-bottom: 40px;
		flex-direction: row;
	}
	footer div ul.fnb2 li {
		width: auto;
		padding: 10px 5px;
	}
	footer div ul.fnb2>li a:hover{
		background-color: initial;
		border-radius: 0px
	}
	footer div ul.fnb2 li:last-child{
		display: none;
	}
}